@tailwind base;
@tailwind components;
@tailwind utilities;

.phrase-content-gradient {
	background: -webkit-linear-gradient(#333, #eee);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.featured-h {
	height: 450px;
	@apply pb-16 bg-indigo-600 lg:pb-0 lg:z-10 lg:relative;
}
