:root {
	--color-primary: #F97316;
	--color-primary-light: #7C2D12;
	--color-primary-900: #7B341E;
	--color-primary-800: #9A3412;
	--color-primary-700: #C2410C;
	--color-primary-600: #EA580C;
	--color-primary-500: #F97316;
	--color-primary-400: #FB923C;
	--color-primary-300: #FDBA74;
	--color-primary-200: #FED7AA;
	--color-primary-100: #FFEDD5;
	--color-primary-50: #FFF7ED;

	--color-secondary: #374151;
	--color-secondary-900: #111827;
	--color-secondary-800: #1F2937;
	--color-secondary-700: #374151;
	--color-secondary-600: #4B5563;
	--color-secondary-500: #6B7280;
	--color-secondary-400: #9CA3AF;
	--color-secondary-300: #D1D5DB;
	--color-secondary-200: #E5E7EB;
	--color-secondary-100: #F3F4F6;
	--color-secondary-50: #F9FAFB;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.phrase-content-gradient {
	background: 
		-webkit-linear-gradient(#111827, #F9FAFB);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
}

.featured-h {
	height: 450px;
	@apply pb-16 bg-secondary lg:pb-0 lg:z-10 lg:relative;
}
