:root {
	--color-primary: #e05d01;
	--color-primary-light: #fdb484;
	--color-primary-900: #e05e01;
	--color-primary-800: #e97605;
	--color-primary-700: #ef8608;
	--color-primary-600: #f5950d;
	--color-primary-500: #f9a112;
	--color-primary-400: #f9ae2e;
	--color-primary-300: #fabd53;
	--color-primary-200: #fbd084;
	--color-primary-100: #fce2b5;
	--color-primary-50: #fef4e1;
	--color-secondary: #515151;
	--color-secondary-900: #2f2f2f;
	--color-secondary-800: #515151;
	--color-secondary-700: #717171;
	--color-secondary-600: #868686;
	--color-secondary-500: #b0b0b0;
	--color-secondary-400: #cdcdcd;
	--color-secondary-300: #eeeeee;
	--color-secondary-200: #f3f3f3;
	--color-secondary-100: #f8f8f8;
	--color-secondary-50: #fdfdfd;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.phrase-content-gradient {
	background: -webkit-linear-gradient(#333, #eee);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.featured-h {
	height: 450px;
	@apply pb-16 bg-secondary lg:pb-0 lg:z-10 lg:relative;
}
